*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}


.App{
    text-align: center;
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-container>p{
    padding: 0 5px;
    cursor: pointer;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin: 250px auto;
  }

  .sign-login{
    display: flex;
    justify-content: space-evenly;
  }